<div class="container">
	<div class="form-contenido">
		<div class="logo">
			<img src="assets/logo.png" alt="logo" class="logo">
		</div>
		<div>
      <div class="grupo_entrada" id="nameinput">
        <div class="campo_entrada">
          <select name="genero" #gen>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
        </div>

        <div class="campo_entrada">
          <input type="text" name="peso" placeholder="Peso" #pes>
        </div>

        <div class="campo_entrada">
          <input type="text" name="edad" placeholder="Edad" #edad>
        </div>

      </div>

      <div class="btn-entrada">
				<button (click)="registroInformacion(gen.value, pes.value, edad.value)">Guardar</button>
			</div>
		</div>
	</div>
</div>
