<h1 class="title"> Lista de Alimentos </h1>

<div class="container">

    <div class="card">
        <img src="assets/imglista/img1.jpg">
        <h4>Cereales con leche</h4>
        <p>Es una combinación que, al agregarle un poco de fruta y una bebida, te brinda un balance de hidratación, vitaminas, minerales, proteínas y carbohidratos.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/imglista/img2.jpg">
        <h4>Ensalada de Frutas con Yogurt</h4>
      <p>Desayunar frutas por las mañanas genera múltiples beneficios para tu organismo gracias estos nutrientes, como mantenerte hidratado, saludable y enérgico.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/imglista/img3.jpg">
        <h4>Torta de avena con platano </h4>
        <p> La avena es el cereal que tiene más proteínas y uno de los más fibrosos. A pesar de ser un carbohidrato, tiene muchas vitaminas y minerales. </p>

    </div>






    <div class="card">
        <img src="assets/Desayuno/desayuno1.jpeg">
        <h4>Cereales y yogurt</h4>
        <p>Es una combinación que, al agregarle un poco de fruta y como no un batido del yogurt de tu agrado sea de fresa o vanilla te dara energias para pasar el dia sin hambre.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/Desayuno/desayuno2.jpg">
        <h4>Wafles con fresas y platano</h4>
      <p>Desayunar frutas por las mañanas y unos wafles de avena es una de las combinaciones que te daran mas energia para pasar el dia con energia con la convinacion de sus fresas.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/Desayuno/desayuno3.jpg">
        <h4>Huevos con Mortadela y pankeke</h4>
        <p> Huevos con mortadela y salasa de tomate con un wafle te dara nutrientes escensiales para pasar el dia con mucha energia. </p>

    </div>





    <div class="card">
        <img src="assets/Refrigerio/refrigerio1.jpg">
        <h4>Maduro con queso y carne</h4>
        <p>.Los plátanos maduros son una excelente fuente de carbohidratos y fibra dietética. Son ricos en vitaminas como la vitamina C, vitamina A y vitamina B6.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/Refrigerio/refrigerio2.jpg">
        <h4>Lasaña</h4>
      <p>La carne utilizada en la lasaña, que generalmente es carne molida, es una fuente de proteínas y nutrientes como hierro, zinc y vitamina B12 muy bueno para el organismo.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/Refrigerio/Refrigerio3.jpg">
        <h4>Torta de Pollo con queso derretido </h4>
        <p>El pollo es una excelente fuente de proteínas magras. Las proteínas son esenciales para el crecimiento y reparación de tejidos, así como para el funcionamiento adecuado del sistema.</p>

    </div>



    <div class="card">
        <img src="assets/Almuerzo/almuerzo1.jpg">
        <h4>Seco de Pollo</h4>
        <p>El pollo es una fuente magra de proteínas de alta calidad. Las proteínas son esenciales para la reparación y construcción de tejidos, la función inmunológica y la producción de enzimas y hormonas.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/Almuerzo/almuerzo2.jpg">
        <h4>Hamburguesa de Pollo</h4>
      <p>Al usar pollo como base para la hamburguesa en lugar de carne roja, estás optando por una fuente magra de proteínas. El pollo es bajo en grasa y puede ser una excelente opción.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/Almuerzo/almuezo3.jpeg">
        <h4>Filete de Pollo con ensalada</h4>
        <p>El filete de pollo es una excelente fuente de proteínas magras. Las proteínas son esenciales para la construcción y reparación de tejidos en el cuerpo.</p>

    </div>




    <div class="card">
        <img src="assets/Merienda/merienda1.jpg">
        <h4>Pastel de Avena</h4>
        <p>La avena es una fuente rica en fibra soluble, que puede ayudar a regular los niveles de azúcar en sangre y mantener la saciedad. También es una excelente fuente de vitamina B.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/Merienda/merienda2.jpg">
        <h4>Panqueques de avena con platano</h4>
      <p>La avena es una excelente fuente de fibra soluble que puede ayudar a mantener niveles estables de azúcar en sangre y promover la saciedad. También es rica en vitaminas.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/Merienda/merienda3.jpg">
        <h4>Sanduche de mortadela con queso</h4>
        <p>La mortadela es un embutido elaborado a partir de carne de cerdo. Es una fuente de proteínas y grasas por ende es importante ser consciente es alta en grasas saturadas y sodio. </p>

    </div>




    <div class="card">
        <img src="assets/Cena/cena1.jpg">
        <h4>Tacos de Pollo con ensalada</h4>
        <p>Optar por tortillas de maíz o de harina integral puede agregar fibra a los tacos. La fibra es beneficiosa para la digestión y puede ayudar a mantener niveles estables de azúcar en sangre.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/Cena/cena2.jpg">
        <h4>Nuges de pollo</h4>
      <p>El empanizado utilizado en las nuggets de pollo generalmente está hecho de pan rallado y especias. El empanizado puede agregar textura y sabor al platillo.</p>
       <a href="#">Leer más</a>
    </div>


    <div class="card">
        <img src="assets/Cena/cena3.jpg">
        <h4>Pinchos de Carne y pollo</h4>
        <p>Los pinchos de carne y pollo proporcionan una combinación de proteínas provenientes de ambas fuentes. Esto puede aumentar la variedad de aminoácidos y nutrientes.</p>

    </div>


</div>
