<mat-toolbar>
  <mat-toolbar-row class="primera">
    <h1>Salud y Nutrición</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <ul class="menu-navegacion">
        <li *ngIf="saludNutricionAppService.getToken()"><a [routerLink]="['/informacion-personal']" routerLinkActive="activo">Informacion personal</a></li>
        <li *ngIf="saludNutricionAppService.getToken()"><a [routerLink]="['/consejo-diario']" routerLinkActive="activo">Consejo diario</a></li>
        <li *ngIf="saludNutricionAppService.getToken()"><a [routerLink]="['/comidas-diarias']" routerLinkActive="activo">Comidas diarias</a></li>
        <li *ngIf="saludNutricionAppService.getToken()"><a [routerLink]="['/listado-alimentos']" routerLinkActive="activo">Listado alimentos</a></li>
        <li *ngIf="saludNutricionAppService.getToken()"><a (click)="salir()">Cerrar sesión</a></li>
        <li *ngIf="!saludNutricionAppService.getToken()"><a [routerLink]="['/registro']" routerLinkActive="activo">Registro</a></li>
        <li *ngIf="!saludNutricionAppService.getToken()"><a [routerLink]="['/inicio-sesion']" routerLinkActive="activo">Inicio sesión</a></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
