$verde-musgo-brillante: #79A93B;
$marfil-claro: #CFE2A4;
$rosa-empolvado: #E0C1AF;
$rosa-antiguo: #DFABB2;
$rosa-oscuro: #D36D88;
$fucsia-intenso: #E54370;
$rosa-bebe: #F0ACC3;
$rosa-palido: #F9DFF0;
$verde-lima-palido: #DAF4C6;
$verde-bosque-profundo: #406E00;
$color-negro-menu:#1e1e1e;
