<div class="container__intro">
  <h1> Consejo Diario</h1>
  </div>

  <div class="Consejo">
      <img class="foto_1" src="assets/diario-alimentos.jpg">
      <h4>Quieres bajar de peso pero no sabes como?</h4>
      <ul>
        <li>Realiza ejercicio regularmente como caminar, nadar, correr o practicar deportes.</li>
        <li>Apunta al menos 150 minutos de ejercicio moderado por semana.</li>
        <li>Bebe suficiente agua durante el día para mantener tu cuerpo hidratado y ayudar a controlar el apetito.</li>
        <li>Bebe suficiente agua durante el día para mantener tu cuerpo hidratado y ayudar a controlar el apetito.</li>
        <li>Duerme de 7 a 9 horas cada noche, ya que el sueño influye en el peso y los hábitos alimenticios.</li>
      </ul>
  </div>
