<h1 class="title"> Comidas Diarias </h1>

<div class="container">

    <div class="card">
        <img src="assets/amanecer.jpg">
        <h4>Desayuno</h4>
        <p>El desayuno es la primera comida del día, separada de la anterior por muchas horas. Tras esas horas de ayuno es fundamental proporcionar al organismo energía.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/refrigerio.jpg">
        <h4>Refrigerio </h4>
        <p>Los refrigerios son por lo general comidas más pequeñas y ligeras que ayudan a calmar el hambre y proporcionan energía entre las comidas principales. </p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/atardecer.jpg">
        <h4>Almuerzo</h4>
      <p>Se suele comer al mediodía,sobre las 11:00-12:00 AM,la cual su importancia llega hasta el punto de ser una comida que se considera esencial en la dieta diaria.</p>

      <li></li>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/noche.jpg">
        <h4>Merienda</h4>
        <p>Las meriendas generalmente son opciones ligeras y saludables. Pueden incluir frutas, verduras, yogur, frutos secos, barras de granola, batidos, entre otros alimentos.</p>
        <a href="#">Leer más</a>
    </div>

    <div class="card">
        <img src="assets/noche.jpg">
        <h4>Cena </h4>
        <p>Proporciona nutrientes necesarios para el descanso y la recuperación durante el sueño,es un momento para compartir en familia y disfrutar de una comida reconfortante</p>
        <a href="#">Leer más</a>
    </div>




</div>
